body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.shape {
  background: transparent;
}

.shape:hover {
  cursor: pointer;
}

.shapes-container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  /*position: absolute;*/
  /*margin: auto;*/
  /*padding-left:50px;*/
  perspective: 4000px;
  margin-left: 130px;
  height: 80vh;
  width: 90vw;
  /*border: 1px solid red;*/
  box-sizing:border-box;
}

.face {
  width: 160px;
  height: 160px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.9);*/
  box-sizing: border-box;
  background: url('../img/cube_bg.png') no-repeat;
  background-size: contain;
  /*background: rgba(0,0,0,0.05);*/
  /*background: rgba(0,0,0,0.05);*/
}

.shape > .top, .shape .bottom, .shape .left, .shape .right {
	background: black;
  /*border: 1px solid black;*/
	/*border-bottom: 10px solid black;
	border-right: 20px solid black;
	border-left: 5px solid black;
	border-top: 30px solid black;*/
	box-sizing: border-box;
}

.shape > .front, .shape .back {
	background: white;
	border: 1px solid black;
	box-sizing: border-box;
}
