body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  font-family: Helvetica; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.shape {
  background: transparent; }

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw; }

.shapes-container {
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.row.shape-container {
  height: 13.33333vh;
  display: block; }
.row.shape-container .col-sm-2 {
  height: 100%; }
  .row.shape-container .col-sm-2:hover {
    cursor: pointer; }
.row.revelation {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  display: block;
  left: 0;
  z-index: -1;
  display: none; }

.shape > .top, .shape .bottom, .shape .left, .shape .right {
  background: #1a1a1a;
  z-index: -2;
  /*border-bottom: 10px solid black;
	border-right: 20px solid black;
	border-left: 5px solid black;
	border-top: 30px solid black;*/
  box-sizing: border-box; }

.shape > .front, .shape .back {
  z-index: 4;
  background: white;
  box-shadow: inset 0px 0px 0px 1px #666666;
  box-sizing: border-box; }
