body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "HK Grotesk", sans;
  .restrict { overflow: hidden; }
}

$gradient1: linear-gradient(-138deg, #007FFF 10%, #FF0000 100%);
$gradient2: linear-gradient(50deg, #33FFB2 0%, #FF00AD 100%);
$gradient3: linear-gradient(44deg, #00FF17 0%, #B3B42E 70%, #FF9437 100%);
$gradient4: linear-gradient(-155deg, #606060 0%, #89B0C7 100%);
$gradient5: linear-gradient(-119deg, #FF7C00 7%, #EEFF00 87%);
$gradient6: linear-gradient(-247deg, #FF8A8A 0%, #9CF2FF 100%);

$inv_gradient1: linear-gradient(-138deg, complement(#007FFF) 10%, complement(#FF0000) 100%);
$inv_gradient2: linear-gradient(50deg, complement(#33FFB2) 0%, complement(#FF00AD) 100%);
$inv_gradient3: linear-gradient(44deg, complement(#00FF17) 0%, complement(#B3B42E) 70%, complement(#FF9437) 100%);
$inv_gradient4: linear-gradient(-155deg, complement(#606060) 0%, complement(#89B0C7) 100%);
$inv_gradient5: linear-gradient(-119deg, complement(#FF7C00) 7%, complement(#EEFF00) 87%);
$inv_gradient6: linear-gradient(-247deg, complement(#FF8A8A) 0%, complement(#9CF2FF) 100%);

// $bg-gradient1: linear-gradient(-138deg, lighten(#007FFF, 55%) 10%, lighten(#FF0000, 55%) 100%);
// $bg-gradient2: linear-gradient(50deg, lighten(#33FFB2, 55%) 0%, lighten(#FF00AD, 55%) 100%);
// $bg-gradient3: linear-gradient(44deg, lighten(#00FF17, 55%) 0%, lighten(#B3B42E, 55%) 70%, lighten(#FF9437, 55%) 100%);
// $bg-gradient4: linear-gradient(-155deg, lighten(#606060, 55%) 0%, lighten(#89B0C7, 55%) 100%);
// $bg-gradient5: linear-gradient(-119deg, lighten(#FF7C00, 55%) 7%, lighten(#EEFF00, 55%) 87%);
// $bg-gradient6: linear-gradient(-247deg, lighten(#FF8A8A, 55%) 0%, lighten(#9CF2FF, 55%) 100%);

$shadow1: linear-gradient(-138deg, #007FFF 0%, #FF0000 100%);
$shadow2: linear-gradient(50deg, #33FFB2 0%, #FF00AD 100%);
$shadow3: linear-gradient(44deg, #00FF17 0%, #B3B42E 70%, #FF9437 100%);
$shadow4: linear-gradient(-155deg, #606060 0%, #89B0C7 100%);
$shadow5: linear-gradient(-119deg, #FF7C00 7%, #EEFF00 87%);
$shadow6: linear-gradient(-247deg, #FF8A8A 0%, #9CF2FF 100%);

$gradients: $gradient1, $gradient2, $gradient3, $gradient4, $gradient5, $gradient6;


header {
  width: 200px;
  position: fixed;
  left: 30px;
  top: 40px;
  font-size: 16px;
  line-height: 18px;
  z-index:-2;
  &.page {
    z-index: 1;
  }
  h1, h1 a {
    // display: none;
    text-decoration: none;
    color: black;
    font-size: 48px;
    margin-top: 4px;
    margin-bottom: 0;
    // margin-left: -5px;
    line-height: 28px;
    font-weight: 800;
    // margin-left: -30px;
  }
}
footer {

  position: fixed;
  left: 30px;
  bottom: 40px;
  font-size: 16px;
  line-height: 18px;
  z-index:-2;

  img {
    width: 100px;
    bottom: 0;
  }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.shape {
  background: transparent;
}

.aligner {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.shapes-container {
  height: 90vh;
  width: 90%;
  // border: 1px solid lighten(red,30%);
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .row {
    // border: 1px solid lighten(blue,33%);
    &.shape-container {
      height: 15vh;
      display: block;
    }
    &.shape-container .col-sm-2 {
      // border: 1px solid lighten(red,33%);
      height: 100%;
      position: relative;
      &:hover {
        cursor: pointer;
      }
    }
    &.revelation {
      height: 100vh;
      width: 100vw;
      margin:0;
      background: white;
      position: fixed;
      top: 0;
      display: block;
      left: 0;
      z-index: -1;
      display:none;
      h1 {
        padding-top: 50px;
        span {
          font-size: 58px;
          display: block;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 18px;
          z-index: 999;
          display: inline-block;
          position: absolute;
        }
      }
    }
  }

  span {
    & .facetext {
      font-size: 88px;
      display: block;
      text-transform: uppercase;
      font-weight: 800;
      text-overflow: clip;
      // position: absolute;
      // width: 130px;
      // height: 130px;
      // margin: auto;
    }
    &#angelidakis .row.revelation {

      box-sizing: border-box;
      h1 span, &#angelidakis .facetext {
        background: $inv_gradient1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &#foam .row.revelation {

      box-sizing: border-box;
      h1 span {
        background: $inv_gradient2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &#newterritories .row.revelation {

      box-sizing: border-box;
      h1 span {
        background: $inv_gradient3;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &#chrstinebjerke .row.revelation {

      box-sizing: border-box;
      h1 span {
        background: $inv_gradient4;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &#grnasfck .row.revelation {
      #video_background { position:fixed; bottom: 0px; right: 0px; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1000;}
      box-sizing: border-box;
      h1 span {
        background: $inv_gradient5;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &#toma .row.revelation {

      box-sizing: border-box;
      h1 span {
        background: $inv_gradient6;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

.shape {
  & > .top, .bottom, .left, .right {
    background: lighten(#000000, 10%);
    z-index: -2;
  	box-sizing: border-box;
    // border: 1px solid lighten(#000000, 10%);
  }
  & > .front, .back {
    z-index: 4;
  	background: white;
  	border: 1px solid black;
  	box-sizing: border-box;
  }
  @for $i from 1 through 6 {
    &.gradient-#{$i} > .shape {
      & > .top, .bottom, .left, .right { border: 1px solid transparent; border-image: nth($gradients, $i); border-image-slice: 1; background: #fff; }
      & > .front, .back { border: 1px solid transparent; border-image: nth($gradients, $i); border-image-slice: 1;background: #fff; }
    }
  }
  &.gradient {
    .top, .bottom, .left, .right { background-image: linear-gradient(to top, #33FFB2, #FF00AD); background: white; }
    .front, .back { border: 3px solid transparent; border-image: linear-gradient(45deg, #33FFB2 0%, #FF00AD 100%); border-image-slice: 2;
    }
  }
  &.gradient_as_bg {
     .front, .back { border: 1px solid transparent; border-image: linear-gradient(45deg, #33FFB2 0%, #FF00AD 100%); border-image-slice: 1;background: #fff;  }
     .top, .bottom, .left, .right { border: 1px solid transparent; border-image: linear-gradient(45deg, #33FFB2 0%, #FF00AD 100%); border-image-slice: 1; background: #fff;  }
  }
}
// .shape > .top, .shape .bottom, .shape .left, .shape .right {
//
//   &.gradient {
//     background: red;
//     border: 1px solid red;
//   }
// }
//
// .shape > .front, .shape .back {
//
//   &.gradient {
//     background: red;
//     border: 1px solid red;
//   }
// }
